.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: black;
}

.Phoenix {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 70px;
  margin-bottom: 100px;
}

.MyAvatar {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.Moderate-spacing{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.Personal-Information {
  background-color: #0d173b;
  color: azure;
  font-size: 200%;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* .Info-Text {
  height: 40vmin;
  pointer-events: none;
}
(
@media (prefers-reduced-motion: no-preference) {
  .Info-Text {
    animation: .5s linear 1s infinite alternate slidein;
  } 
}

@keyframes Info-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background: #102131;  
 }
 
 #container {
   position: absolute;
   width: 200px;
   height: 200px;
   margin: auto;
   transform: rotate(45deg);
   top: 0; bottom: 0; left: 0; right: 0;
 }